certifi==2019.9.11
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-WTF==0.14.2
gunicorn
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
requests==2.22.0
urllib3==1.25.6
Werkzeug==0.16.0
WTForms==2.2.1
Flask-SQLAlchemy
flask-login==0.4.1
Flask-Migrate==2.5.2
Flask-Script==2.0.6
Flask-Session==2.4.1
psycopg2-binary==2.8.4
bcrypt==3.1.7
flask-bcrypt==0.7.1
