{% extends 'layouts/main.html' %}
{% block title %}About Delts Dine{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About Page</h1>
</div>
<p class="lead">Delts Dine was created by Ben Wiley to help orchestrate meal attendance.</p>
<p>Delts Dine is an application that helps provide meal schedules, as well as RSVP and check-in systems for each member that establishes a meal counting/swipe standard procedure for meals. Not only does it show users what meals are being offered for each lunch and dinner, but it also shows who has RSVP'd and who has officially checked in for the meal (checking in is restricted to a specific time period for lunch and dinner and means that a user has gotten their food). Each time a user checks-in, Delts Dine makes sure that users have not exceeded their weekly meal allowance, as well as creates a unique link to show the chef that they checked-in. There are two levels of access for Delts Dine: a member and an administrator. Administrators are allowed to add meals to a given day, as well as add other admins to help them out.</p>

{% endblock %}