{% extends 'layouts/main.html' %} {% block title %}Meals{% endblock %} {% block
content %}
<head>
  <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
  <link rel="nav-left-arrow" href="/static/ico/baseline_keyboard_arrow_left_black_48dp.png">
  <link rel="nav-right-arrow" href="/static/ico/baseline_keyboard_arrow_right_black_48dp.png">
</head>

<div class="page-header">
  <h1>
    Meal Schedules
    <span style="float: right; font-size: 0.8em;">
      <a href="{{url_for('get_last_week_meals', current_date=Date)}}">
        <img src="/static/ico/baseline_keyboard_arrow_left_black_48dp.png" style="height: 26px;"/>
      </a>
      <a href="{{url_for('get_next_week_meals', current_date=Date)}}">
        <img src="/static/ico/baseline_keyboard_arrow_right_black_48dp.png" style="height: 26px;"/>
      </a>
    </span>
  </h1>
  
</div>
<div class="week-container flex">
  <h3 class="week-dates" style="text-align: center; font-size: 1.75em;">
    {{ WeekDates[0].strftime("%B %d, %Y") }} - {{ WeekDates[4].strftime("%B %d, %Y") }}
  </h3>
</div>

<div class="flex-container">
  {% for i in range(0, Meals|length) %}
  <div>
    <table class="table day" bordercolor="#e7e7e7">
      <thead
        class="thead-dark"
        style="background-color: #e7e7e7; margin: auto;"
      >
        <tr>
          <th
            colspan="2"
            style="font-size: 1.25em; text-align: center; background-color: #7F52DB; color: white;"
          >
            {{ WeekDates[i].strftime("%A") }}
          </th>
        </tr>
      </thead>
      <tbody>
        {% if Meals[i][0] is none %}
        <tr>
            <th style="padding-left: 5%; width: 25%; min-width: 80px;">
                Lunch
              </th>
              <th
                scope="row"
                style="text-align: left; width: 75%; font-weight: 400;"
              >
                {{ Meals[i][0].Description }}
              </th>
        </tr>
        {% else %}
        <tr id="{{Meals[i][0].MealId}}" onclick="window.location='/meals/view/{{Meals[i][0].MealId}}'">
          <th style="padding-left: 5%; width: 25%; min-width: 80px;">
            Lunch
          </th>
          <th
            scope="row"
            style="text-align: left; width: 75%; font-weight: 400;"
          >
            {{ Meals[i][0].Description }}
          </th>
        </tr>
        {% endif %}
        {% if Meals[i][1] is none %}
        <tr>
            <th style="padding-left: 5%; width: 25%; min-width: 80px;">
                Dinner
              </th>
              <th
                scope="row"
                style="text-align: left; width: 75%; font-weight: 400;"
              >
                {{ Meals[i][1].Description }}
              </th>
        </tr>
        {% else %}
        <tr id="{{Meals[i][1].MealId}}" onclick="window.location='/meals/view/{{Meals[i][1].MealId}}'">
          <th style="padding-left: 5%; width: 25%; min-width: 80px;">
            Dinner
          </th>
          <th
            scope="row"
            style="text-align: left; max-width: 40px; width: 75%; font-weight: 400;"
          >
            {{ Meals[i][1].Description }}
          </th>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

  {% endfor %}
</div>

{% endblock %}
