{% extends 'layouts/main.html' %} {% block title %}Meal Details{% endblock %} {%
block content %}

<div class="page-header" style="padding-bottom: 60px;">
  <h1>{{ meal.Description }}</h1>
  {% if meal.DinnerBool %}
  <h3>
    {{ meal.Date.strftime("%A - %b. %d, %Y") }}<span style="float: right"
      >Dinner</span
    >
  </h3>
  {% else %}
  <h3>
    {{ meal.Date.strftime("%A - %b. %d, %Y") }}<span style="float: right"
      >Lunch</span
    >
  </h3>
  {% endif %} {% if IsRsvpd %}
    <form action="/meals/{{ meal.MealId }}/RSVP/Delete" method="DELETE">
      <button
        type="submit"
        class="btn btn-primary btn-lg btn-block"
        style="width: 30%; background-color:red; float: left;"
      >
        Un-RSVP
      </button>
    </form>
    {% else %}
      <form action="/meals/{{ meal.MealId }}/RSVP" method="POST">
        {% if CanRSVP %}
        <button
          type="submit"
          class="btn btn-primary btn-lg btn-block"
          style="width: 30%; background-color:darkgreen; float: left;"
        >
          RSVP
        </button>
        {% else %}
        <button
          type="submit"
          class="btn btn-primary btn-lg btn-block"
          style="width: 30%; background-color:grey; float: left;"
          disabled
        >
          Can't RSVP
        </button>
        {% endif %}
      </form>
    {% endif %} 
    {% if CanCheckIn and not CheckedIn %}
    <form action="/meals/{{ meal.MealId }}/CheckIn" method="POST">
      <button
        type="submit"
        class="btn btn-primary btn-lg btn-block"
        style="width: 30%; background-color:#e7e7e7; color: black; float: left; margin-left: 20px;"
      >
        Check-In
      </button>
    </form>
    {% else %}
    {% if CheckedIn %}
    <form action="/meals/{{ meal.MealId }}/CheckIn" method="POST">
      <button
        type="submit"
        class="btn btn-primary btn-lg btn-block"
        style="width: 30%; background-color:#e7e7e7; color: black; float: left; margin-left: 20px;"
        disabled
      >
        Checked-In
      </button>
    </form>
    {% else %}
    <form action="/meals/{{ meal.MealId }}/CheckIn" method="POST">
      <button
        type="submit"
        class="btn btn-primary btn-lg btn-block"
        style="width: 30%; background-color:#e7e7e7; color: black; float: left; margin-left: 20px; overflow: hidden"
        disabled
      >
        Can't Check-In
      </button>
    </form>
    {% endif %}
    {% endif %}
</div>
{% if RSVPs|length > 0 %}

<table
  class="table"
  bordercolor="#e7e7e7"
  style="max-width: 45%; margin: auto; border-width: thin; float: left;"
>
  <thead class="thead-dark" style="background-color: #e7e7e7; margin: auto;">
    <tr>
      <th
        colspan="2"
        style="font-size: 1.25em; text-align: center; background-color: #7F52DB; color: white;"
      >
        RSVPs
      </th>
    </tr>
    <tr>
      <th scope="col" style="text-align: center; max-width: 40px;">#</th>
      <th scope="col" style="padding-left: 5%;">Name</th>
    </tr>
  </thead>
  <tbody>
    {% for i in range(0, RSVPs|length) %}
    <tr>
      <th scope="row" style="text-align: center; max-width: 40px;">
        {{i + 1 }}
      </th>
      <th style="border-left: 1px solid #e7e7e7; padding-left: 5%;">
        {{ RSVPs[i].FirstName }} {{ RSVPs[i].LastName }}
      </th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<table
  class="table"
  bordercolor="#e7e7e7"
  style="max-width: 45%; margin: auto; border-width: thin; float: left;"
>
  <thead class="thead-dark" style="background-color: #e7e7e7; margin: auto;">
    <tr>
      <th
        colspan="2"
        style="font-size: 1.25em; text-align: center; background-color: #7F52DB; color: white;"
      >
        RSVPs
      </th>
    </tr>
    <tr>
      <th scope="col" style="text-align: center; max-width: 40px;">#</th>
      <th scope="col" style="padding-left: 5%;">Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan="2" style="text-align: center;">
        No one has RSVP'd for this meal yet.
      </th>
    </tr>
  </tbody>
</table>
{% endif %} 
{% if CheckIns|length > 0 %}
<table
  class="table"
  bordercolor="#e7e7e7"
  style="max-width: 45%; margin: auto; border-width: thin; float: left; margin-left: 5%;"
>
  <thead class="thead-dark" style="background-color: #e7e7e7; margin: auto;">
    <tr>
      <th
        colspan="2"
        style="font-size: 1.25em; text-align: center; background-color: #7F52DB; color: white;"
      >
        Check-Ins
      </th>
    </tr>
    <tr>
      <th scope="col" style="text-align: center; max-width: 40px;">#</th>
      <th scope="col" style="padding-left: 5%;">Name</th>
    </tr>
  </thead>
  <tbody>
    {% for i in range(0, CheckIns|length) %}
    <tr>
      <th scope="row" style="text-align: center; max-width: 40px;">
        {{i + 1 }}
      </th>
      <th style="border-left: 1px solid #e7e7e7; padding-left: 5%;">
        {{ CheckIns[i].FirstName }} {{ CheckIns[i].LastName }}
      </th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<table
  class="table"
  bordercolor="#e7e7e7"
  style="max-width: 45%; margin: auto; border-width: thin; float: left; margin-left: 5%;"
>
  <thead class="thead-dark" style="background-color: #e7e7e7; margin: auto;">
    <tr>
      <th
        colspan="2"
        style="font-size: 1.25em; text-align: center; background-color: #7F52DB; color: white;"
      >
        CheckIns
      </th>
    </tr>
    <tr>
      <th scope="col" style="text-align: center; max-width: 40px;">#</th>
      <th scope="col" style="padding-left: 5%;">Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan="2" style="text-align: center;">
        No one has Checked-In for this meal yet.
      </th>
    </tr>
  </tbody>
</table>
{% endif %}
{% endblock %}
