{% extends 'layouts/form.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}
  <form method="post" class="form">
    <h3 class="form-heading">Reset Password <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    {{ form.hidden_tag() }}
    <p>Enter a Password: </p>
    {{ form.password(class_ = 'form-control last-input', placeholder = form.password.label.text, required = true) }}
    <hr/>
    <p>Re-enter the Password:</p>
    {{ form.confirm(class_ = 'form-control last-input', placeholder = form.confirm.label.text, required = true) }}
    <hr/>
    <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block" >
  </form>
{% endblock %}
