{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <p style="padding-left: 5%;">Please choose the length of words that you would like to display below, as well as word patterns</p>
    <form action="/words" method="post" style="padding-left: 5%;">
        {{ form.hidden_tag() }}

        {{ render_field(form.word_length) }}
        <br />
        <br />
        {{ render_field(form.letters_pattern) }}
        <br />
        <br />
        {{ render_field(form.avail_letters) }}
        <br />
        <br />
        {{form.submit()}}
    </form>
{% endblock %}