{% extends "layouts/form.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<form>
    <div class="form-group">
        <label for="memberEmail">Student Email Address</label>
        <input type="email" class="form-control" id="memberEmail" aria-describedby="emailHelp" placeholder="x500@umn.edu">
        <small id="emailHelp" class="form-text text-muted">Please enter your @umn.edu email</small>
    </div>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="repeat-password">Re-enter Password</label>
        <input type="password" class="form-control" id="repeat-password" placeholder="Re-enter Password">
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
{% endblock %}